---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import pandaLogo from '../images/wpanda.svg';
---
<header class="is-flex is-flex-direction-row is-justify-content-space-between">
  <div class="navbar m-3">
    <Image src={pandaLogo} alt="wiRedPanda Logo" width={40} loading="eager" class="pandalogo"/>
    <span class="navbar-item">wiRedPanda</span>
  </div>
  <nav class="navbar m-3">
    <ul class="navbar-menu">
      <li class="navbar-item"><a href={`${import.meta.env.BASE_URL}`}>Home</a></li>
      <li class="navbar-item"><a href={`${import.meta.env.BASE_URL}about`}>About</a></li>
      <li class="navbar-item"><a href={`${import.meta.env.BASE_URL}download`}>Download</a></li>
      <li class="navbar-item"><a href={`${import.meta.env.BASE_URL}wasm/index.html`}>Try out</a></li>
      <li class="navbar-item">
        <a href="https://github.com/GIBIS-UNIFESP/wiRedPanda" target="_blank" class="github">
          <Icon name="github" style="font-size: 3.5rem;"/>
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
header {
  padding: 7px;
  min-width: 100vw;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

[data-icon] {
  margin-top: 10px;
}

li {
  padding: 10px;
}

a,
span {
  font-size: 1.3rem;
  color: white;
}

span {
  font-weight: 500;
}

li:hover:not(:last-child) {
  font-weight: 600;
  text-shadow: 1px 1px 15px darkgreen;
  animation: blink 0.15s linear 2;
}

div,
nav {
  border: 1.4px solid #134074;
  border-radius: 10px;
  background-color: rgba(1,1,1, 0.5);
  backdrop-filter: blur(6px);
  padding: 5px 10px;
  box-shadow: 1px 1px 50px black;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
</style>
